{% extends "layout.html" %}
{% block body %}


<div class="row">
    <div class="col-md-4">
        <div class="card card-body">
            <form action="/add_team" method="POST">
                <div class="form-group">
                    <label for="Equipo">Equipo</label>
                    <input type="text" class="form-control" id="Equipo" name="Equipo" placeholder="Equipo">
                </div>
                <div class="form-group">
                    <label for="Colegio">Colegio</label>
                    <input type="text" class="form-control" id="Colegio" name="Colegio" placeholder="Colegio">
                </div>
                <div class="form-group">
                    <label for="Deporte">Deporte</label>
                    <select class="form-control" id="Deporte" name="Deporte">
                        <option value="Futbol">Futbol</option>
                        <option value="Basquet">Basquet</option>
                        <option value="Voley">Voley</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Categoria">Categoría</label>
                    <select class="form-control" id="Categoria" name="Categoria">
                        <option value="Masculino mayor">Masculino mayor</option>
                        <option value="Masculino menor">Masculino menor</option>
                        <option value="Femenino mayor">Femenino mayor</option>
                        <option value="Femenino menor">Femenino menor</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Telefono">Teléfono</label>
                    <input type="tel" class="form-control" id="Telefono" name="Telefono" placeholder="Teléfono">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
            </form>
        </div>
    </div>

    <div class="col-md-16">
        <table class="table table-striped table-hover table-bordered table-sm bg-white">
            <thead>
                <tr>
                    <td>Equipo</td>
                    <td>Colegio</td>
                    <td>Deporte</td>
                    <td>Categoria</td>
                    <td>Telefono</td>
                    <td>Score</td>
                    <td>-------</td>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                <tr>
                    <td>{{team.1}}</td>
                    <td>{{team.2}}</td>
                    <td>{{team.3}}</td>
                    <td>{{team.4}}</td>
                    <td>{{team.5}}</td>
                    <td>{{team.6}}</td>
                    <td>
                        <a href="/add/{{team.0}}" class="btn btn-success">+PTS</a>
                        <a href="/edit/{{team.0}}" class="btn btn-secondary">Editar</a>
                        <a href="/delete/{{team.0}}" class="btn btn-danger btn-delete">ELIMINAR</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}