{% extends "layout.html" %}
{% block body %}

<style>
    .table-container {
        display: none;
    }
</style>
<script>
    function toggleTable(checkbox, tableId) {
            var table = document.getElementById(tableId);
            if (checkbox.checked) {
                table.style.display = 'block';
            } else {
                table.style.display = 'none';
            }
        }

        function initTables() {
            var checkbox1 = document.getElementById('checkbox1');
            var checkbox2 = document.getElementById('checkbox2');

            // Verificar si es la primera vez que se carga la página
            if (localStorage.getItem('firstLoad') === null) {
                checkbox1.checked = true; // Activar el checkbox solo la primera vez
                checkbox1.checked = true;
                localStorage.setItem('firstLoad', 'false'); // Marcar que ya no es la primera vez
            }

            toggleTable(checkbox1, 'table1');
            toggleTable(checkbox2, 'table2');
        }

        window.onload = initTables;
</script>


<div class="row">
    <div class="justify-content-center col-md-4">
        <div class="card card-body">
            <form action="/add_team" method="POST">
                <div class="form-group">
                    <label for="Equipo">Equipo</label>
                    <input type="text" class="form-control" id="Equipo" name="Equipo" placeholder="Equipo">
                </div>
                <div class="form-group">
                    <label for="Colegio">Colegio</label>
                    <input type="text" class="form-control" id="Colegio" name="Colegio" placeholder="Colegio">
                </div>
                <div class="form-group">
                    <label for="Deporte">Deporte</label>
                    <select class="form-control" id="Deporte" name="Deporte">
                        <option value="Futbol">Futbol</option>
                        <option value="Basquet">Basquet</option>
                        <option value="Voley">Voley</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Categoria">Categoría</label>
                    <select class="form-control" id="Categoria" name="Categoria">
                        <option value="Masculino mayor">Masculino mayor</option>
                        <option value="Masculino menor">Masculino menor</option>
                        <option value="Femenino mayor">Femenino mayor</option>
                        <option value="Femenino menor">Femenino menor</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Telefono">Teléfono</label>
                    <input type="tel" class="form-control" id="Telefono" name="Telefono" placeholder="Teléfono (sin guiones)">
                </div>
                <div class="form-group">
                    <label for="DNI">DNI</label>
                    <input type="DNI" class="form-control" id="DNI" name="DNI" placeholder="DNI (sin puntos)">
                </div>
                <div class="form-group">
                    <label for="Correo">Correo</label>
                    <input type="Correo" class="form-control" id="Correo" name="Correo" placeholder="Correo">
                </div>
                <div class="form-group">
                    <label for="Miembros">Miembros</label>
                    <input type="Miembros" class="form-control" id="Miembros" name="Miembros" placeholder="Miembros (int)">
                </div>
                <div class="form-group">
                    <label for="Acompañantes">Acompañantes</label>
                    <input type="Acompañantes" class="form-control" id="Acompañantes" name="Acompañantes" placeholder="Acompañantes (int)">
                </div>
                <div class="form-group">
                    <label for="Vegetariano">Vegetariano</label>
                    <select class="form-control" id="Vegetariano" name="Vegetariano">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="NO">NINGUNO</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Celiaco">Celiaco</label>
                    <select class="form-control" id="Celiaco" name="Celiaco">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="NO">NINGUNO</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Diabetico">Diabetico</label>
                    <select class="form-control" id="Diabetico" name="Diabetico">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="NO">NINGUNO</option>
                    </select>
                </div>
                
                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
            </form>
        </div>
    </div>


    <div class="col-md-16" style="margin: 40px;">
        <div>
            <input type="checkbox" id="checkbox1" checked onclick="toggleTable(this, 'table1')">
            <label for="checkbox1">Mostrar Tabla pre-inscripcion</label>
        </div>
        <div>
            <input type="checkbox" id="checkbox2" checked onclick="toggleTable(this, 'table2')">
            <label for="checkbox2">Mostrar Tabla inscriptos</label>
        </div>

        <div id="table1" class="table-container">
            <table class="table table-striped table-hover table-bordered table-sm bg-white">
                <thead>
                    <tr>
                        <td>Equipo</td>
                        <td>Colegio</td>
                        <td>Deporte</td>
                        <td>Categoria</td>
                        <td>Telefono</td>
                        <td>DNI</td>
                        <td>Correo</td>
                        <td>Miembros</td>
                        <td>Acompañantes</td>
                        <td>Vegetariano</td>
                        <td>Celiaco</td>
                        <td>Diabetico</td>
                        <td>-------</td>
                    </tr>
                </thead>
                <tbody>
                    {% for inf in Table1_inf %}
                    <tr>
                        <td>{{inf.1}}</td>
                        <td>{{inf.2}}</td>
                        <td>{{inf.3}}</td>
                        <td>{{inf.4}}</td>
                        <td>{{inf.5}}</td>
                        <td>{{inf.6}}</td>
                        <td>{{inf.7}}</td>
                        <td>{{inf.8}}</td>
                        <td>{{inf.9}}</td>
                        <td>{{inf.10}}</td>
                        <td>{{inf.11}}</td>
                        <td>{{inf.12}}</td>
                        <td>

                            <a href="{{ url_for('cargar_team', id=inf[0]) }}" class="btn btn-success">OK</a>
                            <a href="{{ url_for('get_team', id=inf[0]) }}" class="btn btn-secondary">Editar</a>
                            <a href="{{ url_for('delete_team', id=inf[0]) }}" class="btn btn-danger btn-delete">ELIMINAR</a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <div id="table2" class="table-container">
            <table class="table table-striped table-hover table-bordered table-sm bg-white">
                <thead>
                    <tr>
                        <td>Equipo</td>
                        <td>Colegio</td>
                        <td>Deporte</td>
                        <td>Categoria</td>
                        <td>Telefono</td>
                        <td>DNI</td>
                        <td>Correo</td>
                        <td>Miembros</td>
                        <td>Acompañantes</td>
                        <td>Vegetariano</td>
                        <td>Celiaco</td>
                        <td>Diabetico</td>
                        <td>SCORE</td>
                        <td>-------</td>
                    </tr>
                </thead>
                <tbody>
                    {% for inf in Table2_inf %}
                    <tr>
                        <td>{{inf.1}}</td>
                        <td>{{inf.2}}</td>
                        <td>{{inf.3}}</td>
                        <td>{{inf.4}}</td>
                        <td>{{inf.5}}</td>
                        <td>{{inf.6}}</td>
                        <td>{{inf.7}}</td>
                        <td>{{inf.8}}</td>
                        <td>{{inf.9}}</td>
                        <td>{{inf.10}}</td>
                        <td>{{inf.11}}</td>
                        <td>{{inf.12}}</td>
                        <td>{{inf.13}}</td>
                        <td>

                            <a href="{{ url_for('add_pts', id=inf[0]) }}" class="btn btn-success">+PTS</a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


</div>



{% endblock %}