{% extends "base.html" %}

{% block title %}
Título de la página de inicio
{% endblock %}

{% block content %}
<div class="choose ">
   <div class="card">
      <div class="title_podium">
         <h1>PODIO COPA RENAULT</h1>
      </div>

      <!-- Buttons -->
      <div class="buttons_categories">
         <button onclick="mostrarPodio('opcion1')" class="active">Futbol ⚽</button>
         <button onclick="mostrarPodio('opcion2')">Basquet 🏀</button>
         <button onclick="mostrarPodio('opcion3')">Voley 🏐</button>
      </div>
      <hr>
      <!-- Podio -->
      <div id="podio">
         <!-- Rancking -->
         <div class="box"> <!-- #01 -->
            <!-- Number -->
            <div class="number">1</div>
            <!-- Cover -->
            <div class="cover"><img src="https://m.media-amazon.com/images/I/91-kmdlsEsL._SS500_.jpg" alt="01"></div>
            <!-- Name -->
            <div class="name"><span>Mi gente</span></div>
         </div>

         <!-- Separator -->
         <div class="separator"></div>

         <div class="box"> <!-- #02 -->
            <!-- Number -->
            <div class="number">2</div>
            <!-- Cover -->
            <div class="cover"><img src="http://bit.ly/2vlCeWf" alt="02"></div>
            <!-- Name -->
            <div class="name"><span>Feels</span></div>
         </div>

         <!-- Separator -->
         <div class="separator"></div>

         <div class="box"> <!-- #03 -->
            <!-- Number -->
            <div class="number">3</div>
            <!-- Cover -->
            <div class="cover"><img src="http://bit.ly/2vlRum1" alt="03"></div>
            <!-- Name -->
            <div class="name"><span>Attention</span></div>
         </div>
      </div>
   </div>

   <h2 class="title_map">MAPA DEL INSTITUTO</h2>
   <div class="container">
      <img src="static/images/instituto.png" class="mapa"/>
      <div class="menu">
         <div class="title_fixture">
            <h1>Consulte los horarios de los partidos</h1>
         </div>
         <h1>Fixture Futbol</h1>
         <div class="buttons">
            <a href="static/recursos/FIXTURE.pdf" target="_blank" class="button view">Ver PDF</a>
            <a href="static/recursos/FIXTURE.pdf" download class="button download">Descargar PDF</a>
         </div>
         <hr>
         <h1>Fixture Basquet</h1>
         <div class="buttons">
            <a href="static/recursos/FIXTURE.pdf" target="_blank" class="button view">Ver PDF</a>
            <a href="static/recursos/FIXTURE.pdf" download class="button download">Descargar PDF</a>
         </div>
         <hr>
         <h1>Fixture Voley</h1>
         <div class="buttons">
            <a href="static/recursos/FIXTURE.pdf" target="_blank" class="button view">Ver PDF</a>
            <a href="static/recursos/FIXTURE.pdf" download class="button download">Descargar PDF</a>
         </div>
      </div>
   </div>


</div>

<!-- extra script -->
<script src="static/js/script.js"></script>
<!-- end choose  section -->
{% endblock %}