{% extends "base.html" %}

{% block title %}
Título de la página de inicio
{% endblock %}

{% block content %}
<div class="choose ">
   <div class="card">
      <div class="title_podium">
         <h1>PODIO COPA RENAULT</h1>
      </div>
      <div class="buttons_categories">
         <button onclick="mostrarPodio('Futbol')" class="active">Futbol ⚽</button>
         <button onclick="mostrarPodio('Basquet')">Basquet 🏀</button>
         <button onclick="mostrarPodio('Voley')">Voley 🏐</button>
      </div>
      <hr>
      <div id="podio"></div>
   </div>





   <h2 class="title_map">MAPA DEL INSTITUTO</h2>
   <div class="container">
      <img src="static/images/instituto.png" class="mapa" />
      <div class="menu">
         <div class="title_fixture">
            <h1>Consulte los horarios de los partidos</h1>
         </div>
         <h1>Fixture Futbol</h1>
         <div class="buttons">
            <a href="static/recursos/FIXTURE.pdf" target="_blank" class="button view">Ver PDF</a>
            <a href="static/recursos/FIXTURE.pdf" download class="button download">Descargar PDF</a>
         </div>
         <hr>
         <h1>Fixture Basquet</h1>
         <div class="buttons">
            <a href="static/recursos/FIXTURE.pdf" target="_blank" class="button view">Ver PDF</a>
            <a href="static/recursos/FIXTURE.pdf" download class="button download">Descargar PDF</a>
         </div>
         <hr>
         <h1>Fixture Voley</h1>
         <div class="buttons">
            <a href="static/recursos/FIXTURE.pdf" target="_blank" class="button view">Ver PDF</a>
            <a href="static/recursos/FIXTURE.pdf" download class="button download">Descargar PDF</a>
         </div>
      </div>
   </div>


</div>

<!-- extra script -->
<script src="static/js/script.js"></script>
<!-- end choose  section -->
{% endblock %}